[Desktop Entry]
Type=Application
Version=1.1
X-Nemo-Application-Type=silica-qt5
Icon=harbour-fiatimago
Exec=harbour-fiatimago
Name=fiat imago

[X-Sailjail]
Permissions=Pictures;RemovableMedia
OrganizationName=se.munkstolen
ApplicationName=harbour-fiatimago
